<html>

<head>

</head>
<style>
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    .textarea-in-post {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;

        resize: none;
    }
</style>

<body>
    {{#if editedPost}}
    <div class="notification is-success">
        Post edited!
    </div>
    {{/if}}
     <a class="button is-primary" href="/posts/{{post.id}}" >Back</a>
    <div class="content">

        <h2>Edit post</h2>

    </div>

    <form id="post-form" method="POST">

        <hr>


        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter title" name="title" id="title" value="{{post.title}}" required>


        <label for="body"><b>Post</b></label>
        <textarea class="textarea-in-post" rows="10" placeholder="Write your post here..." name="body" id="post"
            required>{{post.body}}</textarea>


        <button type="submit" class="button is-primary">Save!</button>

        <hr>


    </form>

</body>



</html>