<style>
	.box {
		width: 100%
	}

	.section {
		padding: 0%
	}

	.card {
		padding: 1%;
	}

	.right {
		float: right;
	}

	.left {
		float: left;
		font-size: 200%;
	}
</style>

<div class="content">
	{{#if error}}
	<p>Oh no, something went wrong:</p>

	<p>{{error}}</p>

	{{/if}}
	<h2>Posts</h2>

</div>
{{#if login}}
<section class="section">
	<a class="button is-primary is-large" href="/posts/new">New post</a>
</section>
{{/if}}

<body>

	<br>

	{{#each posts}}

	<a href="/posts/{{id}}">
		<div class="card" id="card-class">

			<span class="left"><strong>{{this.title}}</strong></span>
			<br>
			<br>
			<br>
			<p><small>Posted by {{this.username}}</small></p>

		</div>
	</a>

	{{/each}}

</body>